{% extends 'church/base.html' %}
{% load static %}
{% load general_tags %}

{% block extra_style %}
    <style>
        .editable-buttons {display: block; margin-top: 5px;}
        table {background: white;}
        .input-large {width: 360px;}
        tr.good, tr.good a {color: #006400;}
        tr.risky, tr.risky a {color: #d10;}
        tr.normal {}
    </style>
{% endblock %}


{% block content %}
    <div class="main">
        <div class="container">

          {% for item in items %}
            {% progress_table item.day item.updates %}
          {% endfor %}

        </div>
    </div>
{% endblock %}
