{% extends 'church/base.html' %}
{% load static %}
{% load general_tags %}

{% block extra_style %}
    <style>
        .editable-buttons {display: block; margin-top: 5px;}
        table {background: white;}
        .input-large {width: 360px;}
        tr.good, tr.good a {color: #006400;}
        tr.risky, tr.risky a {color: #d10;}
        tr.normal {}
        hr {color: #ccc; border-color: #ddd;}
    </style>
{% endblock %}


{% block content %}
    <div class="main">
        <div class="container">
            <h1>{{ team }} ({{ total }})</h1>
            <hr/>
          {% for item in data %}
            <div>
            <h3>
              <img src="{{ item.user.photo_url }}" width="60px" />
              {{ item.user.preferred_name }}'s PR ({{ item.total }})
            </h3>


            {% issue_table '' item.issues item.user.uid %}
            </div>
          {% endfor %}

        </div>
    </div>
{% endblock %}
