{% extends 'church/base.html' %}
{% load static %}
{% load general_tags %}

{% block extra_style %}
    <link href="{% static "church/components/x-editable/dist/bootstrap-editable/css/bootstrap-editable.css" %}"
          rel="stylesheet">
    <link href="{% static "church/css/pages/dashboard.css" %}" rel="stylesheet">
    <style>
      .editable-buttons {display: block; margin-top: 5px;}
      table {background: white;}
      .input-large {width: 360px;}
      tr.good, tr.good a {color: #006400;}
      tr.risky, tr.risky a {color: #d10;}
      tr.normal {}
    </style>
{% endblock %}

{% block extra_js %}
    <script src="
    {% static "church/components/x-editable/dist/bootstrap-editable/js/bootstrap-editable.min.js" %}"></script>
{% endblock %}

{% block content %}
<div class="main">
    <div class="container">
        <h2>{{ engineer.preferred_name }}'s PR ({{ total }})</h2>
        {% if user.username == engineer.uid %}
        <a id="add_working_pr">Add your working PRs which are not in the list</a>
        {% endif %}
        {% for issues in issue_lists %}
          {% issue_table issues.0 issues.1 engineer.uid %}
        {% endfor %}

    </div>
</div>
{% endblock %}
{% block extra_script %}
    {% if user.username == engineer.uid %}
    <script>
      $(function() {
          $.fn.editable.defaults.mode = 'inline';

          $('.comment').editable({
              params: { csrfmiddlewaretoken: '{{ csrf_token }}'}
          });
          $('.status').editable({
              value: 'normal',
              source: [
                  {value: 'normal', text: 'normal'},
                  {value: 'good', text: 'good'},
                  {value: 'risky', text: 'risky'}
              ],
              params: { csrfmiddlewaretoken: '{{ csrf_token }}'},
              success: function(response, newValue) {
                  $(this).closest('tr').attr('class', newValue);
              }
          });

          $('#add_working_pr').click(function() {
              var items = prompt("Input PRs your want to add, separated with comma (e.g. 880300-2,739421)");
              if (items && $.trim(items)) {
                var data = {items:items, csrfmiddlewaretoken: '{{ csrf_token }}'};
                $.post('/users/{{ user.username }}/add-pr/', data, function(data) {
                    alert(items + ' are being processed. You should see them in a few minutes.');
                })
              }
          })
      })
    </script>
    {% endif %}
{% endblock %}